@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIvtU2H70Q13E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6ae84K2oVqwItm4TCpAy2lvQNTI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html,
body {
  overflow: hidden;
}
body {
  position: relative;
}
.fullscreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
}
body {
  margin: 0;
}
.arrow {
  fill-opacity: 0.19;
}
@keyframes arrow_hover {
  from,
  to {
    fill-opacity: 0.19;
  }

  50% {
    fill-opacity: 0.5;
  }
}
.arrow {
  animation: arrow_hover 4s infinite;
}
#back {
  cursor: pointer;
}
.panel {
  z-index: 3;
  padding-left: 10px;
  padding-right: 10px;
  /* height: auto; */
  min-height: 15vh;
  max-width: 600px;
  max-height: 600px;
  background: #2a2331;
  border: 1px solid #916db8;
  margin: 0;
  box-sizing: border-box;
  overflow: overlay;
}

h1,
h2,
h3,
h4,
p,
li,
span,
a,
.divider {
  font-family: "Play", "Noto Color Emoji", sans-serif;
  color: white;
}

a {
  font-weight: bold;
  color: #d2a8ff;
  cursor: pointer;
}

a:visited {
  color: #d2a8ff;
}

.divider {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-weight: bold;
}

.divider::after {
  flex: 1;
  content: "";
  padding: 2px;
  background-color: #916db8;
  margin: 3px;
  margin-right: 30px;
}

.after0mgn::after {
  margin: 0;
}

p {
  font-size: 14pt;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
}

h4 {
  margin: 0;
  font-size: 10pt;
  font-weight: 400;
  color: rgba(255, 255, 255, 0);
  transition: 0.4s;
  position: absolute;
}

.bold {
  font-weight: bold;
}

.mgtop {
  margin: 5px 0 0 0;
}

.mgtopbot {
  margin: 5px 0 5px 0;
}
.mg0 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #463a51;
}
::-webkit-scrollbar-thumb {
  background: #916db8;
}
::-webkit-scrollbar-thumb:hover {
  background: #aa8fc8;
}

input[type="text"],
textarea {
  resize: none;
  background: #463a51;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  font-family: "Play";
  font-size: medium;
}

/* copied from w3schools */
.cbcontainer {
  display: block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cbcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  font-family: "Play";
  font-size: medium;
  background-color: #463a51;
  margin-top: 1px;
}
.cbcontainer input:checked ~ .checkmark {
  background-color: #d2a8ff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cbcontainer input:checked ~ .checkmark:after {
  display: block;
}
.cbcontainer .checkmark:after {
  left: 4px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.post {
  margin-bottom: 10px;
  word-wrap: break-word;
}
.post p {
  white-space: pre-line;
}
